@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 65.5%; /* convert to rem ( 1rem  = 10px ) */

  /*================ Colors ================= */
  --primary-color: rgb(5, 53, 212);
  --secondary-color: rgb(44, 93, 255);
  --gradient-blue: linear-gradient(
    60deg,
    rgba(0, 44, 194, 1) 0%,
    rgb(23, 142, 233) 100%
  );
  --light-gray: rgb(252, 252, 252);
  --text-color: rgb(90, 90, 90);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

section:last-of-type {
  margin-bottom: 0;
}

/* ===================== Scroll Bar Custon ================== */

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: rgba(223, 222, 222, 0.5);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10rem;
}

/* ======================= header Navbar ======================== */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--light-gray);
  padding: 1.5rem 5rem;
}

header .logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
}

header .logo i {
  font-size: 3rem;
  margin-right: 1.6rem;
  color: var(--primary-color);
}

header .menu {
  display: flex;
}

.menu_hamburger {
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 1001;
  display: none;
}

.close-menu {
  display: none;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .navbar li {
  position: relative;
  transition: 0.3s;
}

header .navbar li a {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color);
  padding: 1rem 1.6rem;
}

header .navbar li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  background: var(--gradient-blue);
  left: 0;
  bottom: -8px;
  opacity: 0;
  transition: 0.3s;
}

header .navbar li:hover {
  transform: scale(1.1);
}
header .navbar li a:hover::after {
  width: 100%;
  opacity: 1;
}

header .header-btns {
  margin-left: 1rem;
}

header .header-btns a {
  padding: 1rem 2rem;
  color: var(--text-color);
  font-weight: 500;
}

header .header-btns .sign-in {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 0.8rem;
  transition: 0.3s;
}

header .header-btns .sign-in:hover {
  background-color: var(--secondary-color);
}

/* ======================= hero ======================= */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 2rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--text-color);
  width: 50%;
  height: 100%;
  padding: 0 8rem;
}

.hero .hero-content h1 {
  font-size: 5rem;
  text-transform: uppercase;
}

.hero .hero-content span {
  color: var(--secondary-color);
}

.hero .hero-content p {
  font-size: 1.6rem;
  max-width: 90%;
  letter-spacing: 0.3rem;
  margin: 0.8rem 0;
}

.hero-content .get-app {
  margin-top: 3rem;
}

.hero-content .get-app h4 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-color);
  margin: 1rem 0;
}

.hero-content .apps-btn {
  display: flex;
  gap: 2rem;
}

.hero-content .apps-btn img {
  width: 100%;
  max-width: 15rem;
}

.hero .hero-car {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  width: 50%;
  height: 100%;
}

.hero .hero-car::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 70%;
  bottom: 20%rem;
  border-radius: 5rem;
  background: rgb(0, 44, 194);
  background: linear-gradient(
    180deg,
    rgba(0, 44, 194, 1) 0%,
    rgba(33, 157, 255, 1) 100%
  );
}

.hero .hero-car img {
  position: absolute;
  width: 100%;
  max-width: 60rem;
  min-width: 60rem;
}

/*=========== Title Sections ============== */
.section-title {
  padding-top: 10rem;
  text-align: center;
  color: var(--text-color);
}

.section-title span {
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  padding: 0.2rem 2rem;
  margin: 2rem 0;
}

.section-title span::before {
  content: '';
  position: absolute;
  border-radius: 3rem;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -100;
  background-color: rgba(0, 58, 248, 0.3);
}

.section-title h2 {
  font-size: 3.2rem;
  font-weight: 600;
  margin-top: 1rem;
}
/* =========== Section Features ============== */

.features-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
  gap: 4rem;
  margin: 5rem 2rem;
  padding: 1rem 8rem;
}

.features-container .box {
  text-align: center;
  padding: 4rem 3rem;
  border-radius: 3rem;
  color: var(--text-color);
  min-height: 30rem;
  border: 2px solid rgba(216, 216, 216, 0.3);
  background-color: rgba(216, 216, 216, 0.1);
  box-shadow: 0px 10px 16px -6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.features-container .box:hover {
  transform: scale(1.02);
}

.features-container .box i {
  font-size: 3.4rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--light-gray);
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.features-container .box i:hover {
  transform: scale(1.1);
  background: var(--gradient-blue);
  color: #fff;
}

.features-container .box h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 2.2rem 0 0.8rem;
}

/* ========= Section Cars ======== */

.cars-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, auto));
  gap: 2rem;
  margin-top: 2rem;
  padding: 6rem;
}

.cars-container .box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 1.6rem;
  border-radius: 1rem;
  border: 2px solid rgba(216, 216, 216, 0.5);
  box-shadow: 0px 10px 16px -6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.cars-container .box .box-img {
  width: 100%;
  height: 25rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: black;
  cursor: pointer;
  margin: 0 auto;
}

.cars-container .box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s ease-in;
  opacity: 1;
}

.cars-container .box .box-img img:hover {
  transform: scale(1.06) rotate(1deg);
  opacity: 0.8;
}

.cars-container .box p {
  font-weight: 600;
  text-align: center;
  padding: 0.1rem 3rem;
  color: var(--text-color);
  border-radius: 1.4rem;
  margin: 1rem 0;
  border: 1px solid var(--text-color);
}

.cars-container .box h3 {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--text-color);
}

.cars-container .box h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0.5rem 0 1rem 0;
  color: var(--primary-color);
}

.cars-container .box h2 span {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-color);
}

.cars-container .box .cars-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: var(--primary-color);
  color: #fff;
  width: 100%;
  padding: 1.6rem;
  border-radius: 0.8rem;
  transition: 0.3s ease-in-out;
}

.cars-container .box .cars-btn:hover {
  background-color: var(--secondary-color);
  transform: scale(1.02);
}

/* ============= Section About ============== */

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 7rem;
  align-items: center;
  gap: 1rem;
  padding: 4rem;
}

.about-container .about-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.about-container .about-img img {
  width: 100%;
}

.about-container .about-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--text-color);
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.about-container .about-text span {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-color);
}

.about-container .about-text p {
  margin: 1rem 0;
}

.about-container .btn {
  font-weight: 500;
  padding: 1rem 2rem;
  background: var(--primary-color);
  color: #fff;
  border-radius: 1rem;
  margin-top: 2rem;
  transition: 0.3s ease-in-out;
}

.about-container .btn:hover {
  background-color: var(--secondary-color);
  transform: scale(1.03);
}

/* ============ Section Reviews================ */

.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
  gap: 1.6rem;
  padding: 5rem;
  margin-top: 3.2rem;
}

.reviews-container .reviews-img {
  width: 8rem;
  height: 8rem;
}

.reviews-container .reviews-img img {
  width: 100%;
  height: 100%;
  border: 3px solid var(--secondary-color);
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.reviews-container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem;
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(90, 90, 90, 0.1);
  border-radius: 1rem;
}

.reviews-container .box h2 {
  font-weight: 600;
  color: var(--text-color);
  margin: 1rem 0;
}

.reviews-container .box p {
  position: relative;
  font-style: italic;
  padding: 1.2rem;
  margin: 2rem 0;
}

.reviews-container .box p::before {
  content: '❝';
  position: absolute;
  z-index: -100;
  font-size: 14rem;
  text-align: start;
  width: 100%;
  height: 100%;
  left: -10px;
  top: -60px;
  color: rgba(90, 90, 90, 0.1);
}

.reviews-container .box i {
  margin-bottom: 1rem;
  color: #ffd700;
}

/* ============== Section Newsletter================= */

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--gradient-blue);
  padding: 8rem 0;
}

.newsletter h2 {
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.newsletter .box {
  display: flex;
  justify-content: space-between;
  width: 50rem;
  margin-top: 1.6rem;
  border-radius: 1rem;
  padding: 0.8rem 1rem;
  background-color: #fff;
}

.newsletter .box input {
  width: 100%;
  font-size: 1.8rem;
  border: none;
  outline: none;
  color: var(--text-color);
  margin-right: 1rem;
  padding: 1rem;
}

.newsletter .box .btn {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1.2rem 2rem;
  border-radius: 1rem;
}

/* ========== footer ============ */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  margin-top: 1rem;
}

.footer p {
  padding: 0.5rem 1rem;
}
.footer .socials {
  padding: 0.8rem 2rem;
}

.footer .socials i {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 600;
  margin: 0 2rem;
  padding: 1rem;
}
